@import "tailwindcss";

.wrapper {
    @apply min-h-screen bg-gray-800 flex items-center;
} 

.container {
    @apply flex flex-col lg:flex-row items-center justify-center lg:w-5/6 xl:w-3/4 mx-auto gap-5 p-4;
}

.bet-change-btn {
    @apply bg-gray-800 hover:bg-gray-700 disabled:opacity-50 text-white w-10 h-10 rounded flex items-center justify-center transition-colors cursor-pointer;
}

.bet-input-field {
    @apply w-3/5 bg-transparent text-white px-3 py-2 outline-none text-lg disabled:opacity-50;
}

.bet-input-field::-webkit-outer-spin-button,
.bet-input-field::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.bet-input-field[type="number"] {
    -moz-appearance: textfield;
}

.bet-input-container {
    @apply flex items-center justify-between bg-gray-900 rounded-lg p-1 border border-gray-700;
}

.button-container {
    @apply flex gap-1 pr-1;
}

.button {
    @apply w-full py-4 rounded-lg font-bold text-lg transition-all duration-300 cursor-pointer;
}

.button-disabled {
    @apply bg-gray-700 text-gray-500 cursor-not-allowed;
}

.button-enabled {
    @apply text-gray-900;
}

.game-controls {
    @apply w-4/6 lg:w-2/6 p-4 bg-gray-900 rounded-lg border border-gray-700;
}

.game-panel {
    @apply w-full lg:w-4/6 h-full relative overflow-hidden rounded-xl border border-gray-800;
}

h3 {
    @apply text-gray-400 text-sm mb-3 font-medium;
}

p {
    @apply text-gray-500 text-sm;
}

.history-container {
    @apply flex gap-[6px] flex-wrap;
}

.history-item {
    @apply px-3 py-1 rounded-md text-sm font-bold border;
}